.light h2 {
    color: #c00000;
    border-bottom: 1px solid #bbbbbb;
}

.light img {
    background-color: white;
    border: 2px solid #bbbbbb;
}



.light footer {
    background-color: #eeeeee;
    color: black;
    border-top: 3px solid #c00000;
}

.light button {
    background-color: #c00000;
    color: white;
    border: 2px solid #c00000;
}

.light button:hover {
    background-color: #a00000;
}

@media screen and (max-width: 750px) {
    main {
        width: 95vw;
    }

    img {
        max-width: 60%;
    }

    h1 {
        font-size: calc(4px + 2.5vw);
    }

    h2 {
        font-size: calc(4px + 1.8vw);
    }

    button {
        font-size: calc(4px + 1vw);
    }
}
